{% set greeting = "Hello" %}
{% set name = name | default("World") %}

{{ greeting }}, {{ name }}! This is an example template using Jinja2. You can pass variables like `name` to customize the output. Enjoy your templating experience!